@font-face {
  font-family: "iconfont"; /* Project id 3935947 */
  src: url('./iconfont/iconfont.woff2?t=1678241854103') format('woff2'),
       url('./iconfont/iconfont.woff?t=1678241854103') format('woff'),
       url('./iconfont/iconfont.ttf?t=1678241854103') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-icon_yonghu:before {
  content: "\e620";
}

